.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  
}
.card img {
    border-radius: 8px; 
    height: 400px;
    width: 100%;
  }
  
  .title {
    font-size: 14px;
    color: #fff;
    
  }