.Container-card{
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 16px; 
  padding: 16px; 
}
body{
    background-color: #011F26;
    height: 100%;
  margin: 0;
  padding: 0;
}
.loading{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
   font-size: larger;
   color:#fff;
}
@media (max-width: 1200px) {
    .Container-card {
      grid-template-columns: repeat(4, 1fr); /* 4 columns for medium screens */
    }
  }
  
  @media (max-width: 992px) {
    .Container-card {
      grid-template-columns: repeat(3, 1fr); /* 3 columns for small screens */
    }
  }
  
  @media (max-width: 768px) {
    .Container-card {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for extra small screens */
    }
  }
  
  @media (max-width: 576px) {
    .Container-card {
      grid-template-columns: 1fr; /* 1 column for very small screens */
    }
  }